<title>{{ title }}</title>


{% load staticfiles %}
<script src="{% static "jquery/js/jquery-3.1.1.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">

<link rel="shortcut icon" href={% static "favicon.ico" %} type="image/x-icon">
<link rel="icon" href={% static "favicon.ico" %} type="image/x-icon">