{% load staticfiles %}
        <link rel="stylesheet" href="{% static "css/menu.css" %}">

<div class="container">

  <div class="row">
        <div class="panel panel-primary col-sm-4 menu_profil">
            <div class="panel-heading userlist_tableheader">
              <h1 class="panel-title">Profil</h1>
            </div>
            <div class="panel-body">
                <table class="table"><tbody>
                    <tr>
                        <th>Username</th>
                        <th>Role</th>
                    </tr>
                    <tr>
                        <td>{{ username }}</td>
                        <td>{{ role }}</td>
                    </tr>
                </tbody></table>

            </div>
        </div>
        <div class="col-sm-8 panel panel-primary menu_control">
            <div class="panel-heading">
              <h1 class="panel-title">Controll</h1>
                </div>
                <div class="panel-body">
                    <ol class="breadcrumb">
                        <li><a href="/logger/">Logging</a></li>
                        <li><a href="/state/">Status</a></li>
                        <li><a href="/logout/">Logout</a></li>
                    </ol>
                  </div>
            </div>
    </div>
</div>