
<div class="container">

  <div class="row">
       <div class="col-sm-8 panel panel-primary menu_control">
            <div class="panel-heading">
              <h1 class="panel-title">Controll</h1>
                </div>
                <div class="panel-body">
                    <ol class="breadcrumb">
                        <li><a href="/login/">Login</a></li>
                    </ol>
                  </div>
            </div>
    </div>
</div>