<html>
    <head>
        {% include "tenants/base/header.html" %}
    </head>
<body>

{% include "tenants/base/menu.html" %}
<form method="post" action="{% url 'sensorAdmin' %} ">
    <div class="container">
        <div class="form-group">
            <label for="sensorname">Sensorname:</label>
            <input type="text" class="form-control" id="sensorname", name="sensorname">
        </div>
        <button type="submit" value="submit" class="btn btn-success">Absenden</button>
    </div>
</form>
</body>
</html>