<html>
    <head>
        {% include "tenants/state/header.html" %}
    </head>
<body>

{% include "tenants/base/menu.html" %}

<div class="container">
  <div class="row">
    <div class="col-sm-4 panel panel-primary standard_contrainer">
         <div class="panel-heading">
              <h1 class="panel-title">State Demo</h1>
         </div>
        <div id="sidemenu" class="panel-body"></div>
    </div>
      <div class="col-sm-8">
        <div id="sitecontent">
           <div id="grid"></div>
        </div>
    </div>
  </div>
</div>

</body>
</html>
