<html>
    <head>
    {% include "tenants/base/header.html" %}
    </head>
    <body>
    {% block content %}

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

     <div class="page-header text-center">
        <h1><a href="/">Login</a></h1>


    <form method="post" action="{% url 'login' %} ">
    {% csrf_token %}
  <div class="form-group">
    <label for="Username">username</label>
    <input type="text" name="username" required autofocus id="id_username" maxlength="254" />
  </div>
  <div class="form-group">
    <label for=password">Password</label>
    <input type="password" name="password" required id="id_password" />
  </div>

  <button type="submit" value="login" class="btn btn-success">Submit</button>
         <input type="hidden" name="next" value="{{ next }}" />
</form>


</div>
{% endblock %}

    </body>
</html>

