<title>{{ title }}</title>


{% load staticfiles %}
<script src="{% static "jquery/js/jquery-3.1.1.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

<script src="{% static "dashboard/js/drag_and_drop.js" %}"></script>
<script src="{% static "dashboard/js/grid_main.js" %}"></script>
<script src="{% static "ws/js/ws_base.js" %}"></script>
<script src="{% static "ws/js/logger/logger.js" %}"></script>
<link rel="stylesheet" href="{% static "dashboard/css/drag_and_drop.css" %}">
<link rel="stylesheet" href="{% static "dashboard/css/log_widget.css" %}">

<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">

<link rel="shortcut icon" href={% static "favicon.ico" %} type="image/x-icon">
<link rel="icon" href={% static "favicon.ico" %} type="image/x-icon">
