<html>
<head>
    <title>{{ title }}</title>
</head>
<body>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Adminpanel</h3>
  </div>
  <div class="panel-body">
       <form action="{% url "LoginView" %}"  method="post">

  <div class="container">
    <label><b>Benutzername</b></label>
    <input type="text" placeholder="Benutzername" name="username" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Password" name="password" required>

    <button type="submit">Login</button>
  </div>

</form>
  </div>
</div>

{% if Error %}
    {{ Error }}
{% endif %}

</body>
</html>