<html>
<head>
     {% include "public/admin/header.html" %}
</head>
<body>

  <div class="panel panel-primary">
    <div class= "panel-heading">
        <h3 class="panel-title">{{ tenant }}</h3>
    </div>
  <div class="panel-body">
      {% if error %}
          Cannot create tenant <b>{{ tenant }}</b>
      {% else %}
          tenant <b>{{ tenant }} successful created </b>
      {% endif %}
    <a class="btn" href="/Index_Admin/">back</a>
    </div>
  </div>

</body>
</html>